<?php

namespace Drupal\{{ machine_name }}\EasyListBuilder;

use Drupal\{{ machine_name }}\EasyListBuilder\Facade\{{ listClassNameFacade }};
use Drupal\Core\Entity\EntityInterface;
{% if page_delta == 'Oui' or entities == 'Oui' or filters == 'Oui' %}
use Drupal\easy_list_builder\Parameters\EasyListBuilderParameters;
use Drupal\Core\Form\FormStateInterface;
{% endif %}
{% if filters == 'Oui' %}
use Drupal\easy_list_builder\Parameters\EasyListBuilderParametersManipulator;
{% endif %}
{% if searchApi == 'Oui' %}
use Drupal\search_api\Entity\Index;
{% endif %}

class {{ listClassName }} extends {{ listClassNameFacade }}{

{% if entities == 'Oui' %}

 /**
  * Retourne la requête de base.
  */
  protected function getBaseQuery(EasyListBuilderParameters $parameters) {
    // TODO : Retourner la query de base.
    {% if searchApi == "Oui" %}
    $index = Index::load('{{ search_api_index }}');
    return $index->query();
    {% else %}
    $query = $this->entityTypeManager->getStorage('{{ entity_type }}')->getQuery();
    return $query;
    {% endif %}
  }
{% else %}
  {% if searchApi == "Oui" %}
    /**
    * Retourne la requête de base.
    */
    protected function getBaseQuery(EasyListBuilderParameters $parameters) {
    // TODO : Retourner la query de base.
    $index = Index::load('{{ search_api_index }}');
    $query = $index->query();
    return $query;
    }
  {% endif %}
  /**
  * {@inheritdoc}
  */
  public function getList(EasyListBuilderParameters $parameters) {
  // TODO: Implement getList() method.
  }

  /**
  * {@inheritdoc}
  */
  public function getPageItemsCount(EasyListBuilderParameters $parameters) {
  // TODO: Implement getPageItemsCount() method.
  }
{% endif %}

  /**
  * {@inheritdoc}
  */
  public function entityIsInDefaultList(EntityInterface $entity) {
    // TODO: Renvoyer vrai si l'élément est susceptible d'être dans la liste.
  {% if searchApi != 'Oui' and entities == 'Oui' %}
    return $entity->getEntityTypeId() === $this->getEntityTypeId();
  {% endif %}
  }

{% if filters == 'Oui' %}
  /**
   * {@inheritdoc}
   */
  public function getParametersManipulator() {
    if (is_null($this->manipulator)) {
      $this->manipulator = new EasyListBuilderParametersManipulator();
      // $this->manipulator->add(static::PARAMETER_TYPE, EasyListBuilderParametersManipulator::TYPE_CHECKBOXES, TRUE);
      // $this->manipulator->add(static::PARAMETER_KEY, EasyListBuilderParametersManipulator::TYPE_STRING);
    }
    return $this->manipulator;
  }

  /**
  * {@inheritdoc}
  */
  public function buildForm(array $form, FormStateInterface $form_state) {
    // Récupération des paramètres courants.
    $parameters = $this->getParametersFromFormState($form_state);

    // TODO: Construire le formulaire.
    return $form;
  }
{% endif %}

{% if page_delta == 'Oui' %}
  /**
  * Retourne le delta lié au pager à cause des insertions custom.
  *
  * Par exemple, on peut vouloir insèrer potentiellement 1 ou deux
  * mise éléments auter que des résultats de recherche dans une liste.
  * Ce qui décalle la numérotation entre élément dans le dom et
  * résultats de la recherche. On aura donc 1 ou 2 éléments de plus dans le
  * DOM que dans la recherche, et ces éléments seront toujours présents en
  * première page. Dans ce cas, il faut que cette fonction renvoie 1 ou 2.
  */
  public function getFirstPageDelta(EasyListBuilderParameters $parameters) {
    if( is_null($this->firstPageDelta) ){
      // TODO: Déterminer le page delta.
    }
    return $this->firstPageDelta;
  }
{% endif %}

}
