<?php

namespace Drupal\{{ machine_name }}\Plugin\easy_list_builder;

use Drupal\easy_list_builder\Plugin\Field\FieldType\EasyListBuilderFieldType;
use Drupal\easy_list_builder\Traits\EasyListBuilderPluginTraits;
use Drupal\Core\Form\FormStateInterface;
{% if filters == 'Oui' %}
use Drupal\easy_list_builder\Base\Plugin\AbstractFormBasePlugin;
{% else %}
use Drupal\easy_list_builder\Interfaces\EasyListBuilderPluginInterface;
{% endif %}
{% if entities == 'Oui' %}
use Drupal\easy_list_builder\Traits\EasyListBuilderPluginEntityTrait;
{% endif %}
use Drupal\{{ machine_name }}\EasyListBuilder\{{ listClassName }};

/**
 * Implementation du plugin de list {{ label }}
 *
 * @EasyListBuilderPluginAnnotation(
 *   id = \Drupal\{{ machine_name }}\Plugin\easy_list_builder\{{ pluginClassName }}::PLUGIN_ID,
 *   label = "{{ label }}",
 *   description = "{{ description }}"
 * )
 */
{% if filters == 'Oui' %}
class {{ pluginClassName }} extends AbstractFormBasePlugin {
{% else %}
class {{ pluginClassName }} implements EasyListBuilderPluginInterface {
{% endif %}

  use EasyListBuilderPluginTraits;
  {% if entities == 'Oui' %}
  use EasyListBuilderPluginEntityTrait;
  {% endif %}

  /**
   * Plugin Id
   *
   * @const string
   */
  const PLUGIN_ID = '{{ pluginId }}';

  /**
   * Field view mode
   *
   * @const string
   */
  const FIELD_VIEW_MODE = 'view_mode';

  {% if filters != 1 %}
  /**
   * Easy List Builder.
   *
   * @var \Drupal\easy_list_builder\Base\EasyListBuilder\AbstractEasyListBuilderForm
   */
  protected $easyListBuilder;
  {% endif %}

  /**
   * {@inheritdoc}
   */
  public function getWidgetForm(EasyListBuilderFieldType $field, array $configuration, FormStateInterface $formState, array $stateCondition) {
    return [];
  }

  /**
   * {@inheritdoc}
   */
  public function getMassagedWidgetValues(array $values, array $form, FormStateInterface $formState) {
    return $values;
  }

  {% if filters == 'Oui' %}
  /**
   * {@inheritdoc}
   */
  public function getEasyListBuilderFormClass() {
    return {{ listClassName }}::class;
  }
  {% else %}
  public function createEasyListBuilder(array $configuration, $nbItemsPerPage, EasyListBuilderFieldType $field = null) {
    $easyListBuilder = new {{ listClassName }}();
    $easyListBuilder->setField($field);
    $easyListBuilder->setPlugin($this);
    $easyListBuilder->setConfiguration($configuration);
    $easyListBuilder->setNbItemsPerPage($nbItemsPerPage);
    return $easyListBuilder;
  }

  /**
  * {@inheritdoc}
  */
  public function getEasyListBuilder(array $configuration, $nbItemsPerPage, EasyListBuilderFieldType $field) {
    if (is_null($this->EasyListBuilder)) {
      $this->EasyListBuilder = $this->createEasyListBuilder($configuration, $nbItemsPerPage, $field);
    }

    return $this->EasyListBuilder;
  }
  {% endif %}

}
