<?php

{% if facade == 'Oui' %}
namespace Drupal\{{ machine_name }}\EasyListBuilder\Facade;
{% else %}
namespace Drupal\{{ machine_name }}\EasyListBuilder;
{% endif %}

use Drupal\easy_list_builder\Traits\EasyListBuilderTraits;
use Drupal\easy_list_builder\Traits\EasyListBuilderPluginEntityTrait;
use Drupal\easy_list_builder\Traits\EasyListBuilderCustomPaginationTrait;
use Drupal\easy_list_builder\Parameters\EasyListBuilderParameters;
{% if facade == 'Non' %}
use Drupal\Core\Entity\EntityInterface;
{% endif %}
{% if searchApi == 'Oui' %}
use Drupal\easy_list_builder\Traits\EasyListBuilderSearchApiQueryTrait;
use Drupal\search_api\Query\QueryInterface;
use Drupal\search_api\Entity\Index;
{% else %}
use Drupal\Core\Entity\EntityTypeManagerInterface;
use Symfony\Component\DependencyInjection\ContainerInterface;
use Drupal\easy_list_builder\Traits\EasyListBuilderEntityQueryTrait;
{% endif %}
{% if entities == 'Oui' and filters == 'Oui' %}
use Drupal\Core\Form\FormStateInterface;
use Drupal\easy_list_builder\Base\EasyListBuilder\AbstractEasyListBuilderEntity;
use Drupal\easy_list_builder\Parameters\EasyListBuilderParametersManipulator;
{% elseif filters == 'Oui' %}
use Drupal\Core\Form\FormStateInterface;
use Drupal\easy_list_builder\Base\EasyListBuilder\AbstractEasyListBuilderForm;
use Drupal\easy_list_builder\Parameters\EasyListBuilderParametersManipulator;
{% else %}
use Drupal\easy_list_builder\Base\EasyListBuilder\AbstractEasyListBuilderNoForm;
{% endif %}
{% if entities == 'Oui' %}
use Drupal\easy_list_builder\Traits\EasyListBuilderEntityTrait;
{% endif %}

{% set abstract = (facade == 'Oui') ? 'abstract ' : '' %}
{% set className = (facade == 'Oui') ? listClassNameFacade : listClassName %}
{% if entities == 'Oui' and filters == 'Oui' %}
{{ abstract }}class {{ className }} extends AbstractEasyListBuilderEntity {
{% elseif filters == 'Oui' %}
{{ abstract }}class {{ className }} extends AbstractEasyListBuilderForm {
{% else %}
{{ abstract }}class {{ className }} extends AbstractEasyListBuilderNoForm {
{% endif %}
  use EasyListBuilderPluginEntityTrait;
  use EasyListBuilderTraits;
  use EasyListBuilderCustomPaginationTrait;
{% if searchApi == 'Oui' %}
  use EasyListBuilderSearchApiQueryTrait;
{% else %}
  use EasyListBuilderEntityQueryTrait;
{% endif %}
{% if entities == 'Oui' %}
  use EasyListBuilderEntityTrait;
{% endif %}

{% if page_delta == 'Oui' %}
  /**
   * Delta en première page.
   *
   * @var int
   */
  protected $firstPageDelta;

{% endif %}
{% if searchApi == "Non" %}
  /**
   * The entity type manager.
   *
   * @var \Drupal\Core\Entity\EntityTypeManagerInterface
   */
  protected $entityTypeManager;

  /**
   * Constructor.
   *
   * @param \Drupal\Core\Entity\EntityTypeManagerInterface $entityTypeManager
   *   The entity type manager.
   */
  public function __construct(EntityTypeManagerInterface $entityTypeManager) {
    $this->entityTypeManager = $entityTypeManager;
  }

  /**
  * {@inheritdoc}
  */
  public static function create(ContainerInterface $container) {
    return new static($container->get('entity_type.manager'));
  }
{% endif %}
{% if filters == 'Oui' %}
  /**
   * Parameter manipulator
   *
   * @var \Drupal\easy_list_builder\Parameters\EasyListBuilderParametersManipulator
   */
  protected $manipulator;

  /**
   * {@inheritdoc}
   */
  public function getFormId() {
    return $this->getId();
  }

  {% if facade == 'Non' %}
  /**
  * {@inheritdoc}
  */
  public function getParametersManipulator() {
    if (is_null($this->manipulator)) {
      $this->manipulator = new EasyListBuilderParametersManipulator();
      // $this->manipulator->add(static::PARAMETER_TYPE, EasyListBuilderParametersManipulator::TYPE_CHECKBOXES, TRUE);
      // $this->manipulator->add(static::PARAMETER_KEY, EasyListBuilderParametersManipulator::TYPE_STRING);
    }
    return $this->manipulator;
  }
  /**
  * {@inheritdoc}
  */
  public function buildForm(array $form, FormStateInterface $form_state) {

    // Récupération des paramètres courants.
    $parameters = $this->getParametersFromFormState($form_state);

    // TODO : Construire le formulaire.
    return $form;
  }

  {% endif %}
{% endif %}
{% if facade == 'Non' %}
  public function entityIsInDefaultList(EntityInterface $entity) {
    // TODO: Renvoyer vrai si l'élément est susceptible d'être dans la liste.
    {% if searchApi != 'oui' %}
    return $entity->getEntityTypeId() === $this->getEntityTypeId();
    {% endif %}
  }
{% endif %}

{% if entities == 'Oui' %}
  /**
  * {@inheritdoc}
  */
  protected function getEntityTypeId() {
    return '{{ entity_type }}';
  }

  {% if facade == 'Non' %}
  /**
  * Retourne la requête de base.
  */
  protected function getBaseQuery(EasyListBuilderParameters $parameters) {
    // TODO : Retourner la query de base.
    {% if searchApi == "Oui" %}
    $index = Index::load('{{ search_api_index }}');
    $query = $index->query();
    {% else %}
    $query = $this->entityTypeManager->getStorage('{{ entity_type }}')->getQuery();
    return $query;
    {% endif %}
    return $query;
  }
  {% endif %}
  /**
   * {@inheritdoc}
   */
  public function getPageEntityIds(EasyListBuilderParameters $parameters) {

    $query = $this->getBaseQuery($parameters);
    {% if searchApi == "Oui" %}
    // On ajoute le sort uniquement sur les requête d'affichage.
    $query->sort('search_api_relevance', QueryInterface::SORT_DESC);
    {% endif %}

    {% if page_delta == 'Non' %}
    // Range.
    $nbItemsPerPage = $this->getNbItemsPerPage();
    $query->range($parameters->getCurrentPage() * $nbItemsPerPage, $nbItemsPerPage);
    {% else %}
    // Range.
    $nbItemsPerPage = $this->getNbItemsForCurrentPage($parameters);
    $offset = $parameters->getCurrentPage() * $nbItemsPerPage;
    if( $parameters->getCurrentPage() > 0 ){
      $offset -= $this->getFirstPageDelta($parameters);
    }
    $query->range($offset, $nbItemsPerPage);
    {% endif %}

    return $this->getEntityIdsFromQuery($query);
  }
{% elseif facade == 'Non' %}
  {% if searchApi == "Oui" %}
    /**
    * Retourne la requête de base.
    */
    protected function getBaseQuery(EasyListBuilderParameters $parameters) {
    // TODO : Retourner la query de base.
      $index = Index::load('{{ search_api_index }}');
      $query = $index->query();
      return $query;
    }
  {% endif %}
  /**
  * {@inheritdoc}
  */
  public function getList(EasyListBuilderParameters $parameters) {
  // TODO: Implement getList() method.
  }

  /**
  * {@inheritdoc}
  */
  public function getPageItemsCount(EasyListBuilderParameters $parameters) {
  // TODO: Implement getPageItemsCount() method.
  }
{% endif %}
{% if facade == 'Non' or page_delta == 'Non' %}
  /**
  * Retourne le delta lié au pager à cause des insertions custom.
  *
  * Par exemple, on peut vouloir insèrer potentiellement 1 ou deux
  * mise éléments auter que des résultats de recherche dans une liste.
  * Ce qui décalle la numérotation entre élément dans le dom et
  * résultats de la recherche. On aura donc 1 ou 2 éléments de plus dans le
  * DOM que dans la recherche, et ces éléments seront toujours présents en
  * première page. Dans ce cas, il faut que cette fonction renvoie 1 ou 2.
  */
  public function getFirstPageDelta(EasyListBuilderParameters $parameters) {
    {% if page_delta == 'Non' %}
    return 0;
    {% else %}
    if( is_null($this->firstPageDelta) ){
      // TODO: Déterminer le page delta.
      // $this->firstPageDelta = 1;
    }
    return $this->firstPageDelta;
    {% endif %}
  }

{% endif %}
}
